<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="main.css">
	<script src="graphes.js"></script>
	<script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
	<script src="3d_sim.js" defer></script>
	<title>résultats de simulations paramétriques</title>
</head>
<body>
	<div class="singlegraphstatic" id="graph">
		<div class="canvas" id="mcanvas"></div>
	</div>
</body>
</html>