<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>actualites</title>
</head>
<body>
	<h2>semaine du 16 au 20 mai 2022 : </h2>
	<h3>travail effectué</h3>
	<ul>
	<li>Mise a jour de l'outil de simulation pour pouvoir prendre en compte des batteries
	(ou des capacités de stockages autres de l'électricité).</li>
	<li>Restructuration de l'outil de simulation afin de simplifier les simulations paramétriques</li>
	<li>Déplacement des graphes paramétriques afin de les séparer du travail d'API
	qui permettra d'avoir des simulations interactives sur de courtes echelles de temps.</li>
	<li>Apparition de cette section.</li>
	<li>Premiers graphes 3D locaux. Pour chacun de ces graphes, 2 des 4 paramêtres suivants sont fixés
	et l'on s'intéresse à l'influence des deux autres (Puissance éolienne moyenne, Puissance photovoltaique moyenne, capacités de batteries, flexibilité des utilisateurs).
	La flexibilité des utilisateurs étant une hypothèse forte et demandant une simultaion plus poussée, elle n'est pas encore présente dans l'outil,
	bien que présente dans les paramêtres de celui-ci pour une intégration future
	</li>
	</ul>
	<h3>prévision pour la semaine suivante</h3>
	<ul>
		<li>début des outils web de simultaion paramétriques</li>
		<li>création des outils webs de visualisation des courbes obtenues</li>
		<li>formalisation de la flexibilité et mise en place des outils d'optimisation
			afin de pouvoir prendre en compte le facteur de flexibilité et ses contraintes associées
		</li>
		<li>ajout du profil de consommation des industriels dans le cadre du projet</li>
	</ul>
	
</body>
</html>