<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>dynamic chart</title>
	<script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
	<script src="graphe_import_export_interactif.js" defer></script>
	<link rel="stylesheet" href="main.css">
	<script src="graphes.js"></script>
</head>
<body>
	<div class="singlegraphstatic" id="import_export">
		<div class="canvas" id="mcanvas"></div>
	</div>

	


</body>
</html>