<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="main.css">
	<script src="graphes.js"></script>
	<script>
		function actualize(params){
			return function(){
				console.log("change")
				values = []
				for (param of params){
					if (param.valueType == "bool")
					{
						elem = document.getElementById(param.paramName)
						values.push(param.paramName + "=" + elem.checked)
						continue
					}
					elem = document.getElementById(param.paramName)
					values.push(param.paramName + "=" + elem.value)
				}
				imgToPut.src = "/sims/graphs/ie2?" + values.join("&")
				imgToPut.onload = () => {
					dataviewer = document.getElementById("resultslot")
					let xhr = new XMLHttpRequest()
					xhr.onload = () => {
						console.log({response : xhr.response})
						dataviewer.innerHTML = ""
						responseJSON = JSON.parse(xhr.response)
						for (element of Object.keys(responseJSON))
						{
							div = document.createElement("div")
							div.innerText = element + " : " + responseJSON[element]	
							div.style = "padding-right:10px; display: inline-block;"
							console.log(element)
							dataviewer.appendChild(div)
						}
						
					}
					xhr.open("GET", "/sims/api/results/agglomerated_result?" + values.join("&"))
					xhr.send()
				}
			}
		}
		window.addEventListener("load", function(){
			window.generateForm("import_export", window.GRAPH_2D_STATIC,
			[
				window.setFloatParam("solar_power", "Puissance moyenne de la production solaire (MW) ", 3.44),
				window.setFloatParam("bioenergy_power", "Puissance moyenne de la production bio-énergétique (MW) ", 2.07),
				window.setFloatParam("wind_tubine_prod", "Puissance moyenne de la production d'une éolienne (MW) ", 0.577),
				window.setIntParam("wind_turbine_count", "Nombre d'éoliennes ", 13),
				window.setBoolParam("has_battery", "Stockage présent ", false),
				window.setFloatParam("battery_capacity", "Stockage installé (MWh) ", 2),
				window.setBoolParam("has_ra", "Moyenne glissante ", true),
				window.setFloatParam("ra_period", "Période sur laquelle la moyenne glissante est effectuée(H)", 24),
				window.setDateParam("begin", "Date de départ de la simulation ", "2020-01-01"),
				window.setDateParam("end", "Date de fin de la simulation ", "2022-01-01"),
				window.setBoolParam("slice_after_sim", "Simuler sur toutes les données", true),
				window.setBoolParam("has_flexibility", "Flexibilité présente ?", false),
				window.setFloatParam("flexibility_ratio", "Fexibilité des utilisateurs (en % de leur consommation)", 5),
			], actualize)
		})
	</script>
	<title>graphes import export</title>
</head>
<body>
	<div class="singlegraphstatic" id="import_export">
	</div>
	<div class="dataviewer"></div>
</body>
</html>