<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<div class="figure">
		<img src="/sims/graphs/" alt="" srcset="" width="300">
		<div class="legend">affichage de la production et de la consomation avec toutes les sources d'electricite</div>
	</div>
	<div class="figure">
		<img src="/sims/graphs/?add_bioenergy=False" alt="" srcset="" width="300">
		<div class="legend">affichage de la production et de la consomation sans les bioenergies</div>
	</div>
	<div class="figure">
		<img src="/sims/graphs/?add_bioenergy=False&add_solar=False" alt="" srcset="" width="300">
		<div class="legend">affichage de la production et de la consommation uniquemment à l'éolien local</div>
	</div>
	<br>
	<div class="figure">
		<img src="/sims/graphs/ie" alt="" srcset="" width="300">
		<div class="legend">affichage de l'import et de l'export ramené a 200 foyers avec toutes les sources d'electricite</div>
	</div>
	<div class="figure">
		<img src="/sims/graphs/ie?add_bioenergy=False" alt="" srcset="" width="300">
		<div class="legend">affichage de l'import et de l'export ramené a 200 foyers sans les bioenergies</div>
	</div>
	<div class="figure">
		<img src="/sims/graphs/ie?add_bioenergy=False&add_solar=False" alt="" srcset="" width="300">
		<div class="legend">affichage de l'import et de l'export ramené a 200 foyers uniquemment à l'éolien local</div>
	</div>
</body>
</html>