.legend{
	font-size: 14px;
	width: 100%;
	margin:30px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.figure{
	display: inline-block;
	width: 300px;
}
.canvas{
	display: inline-block;
	width: 65%;
}

.singlegraphstatic{
	position: relative;
	width: 100%;
	height: 100%;
}
.img.singlegraphstatic{
	display: inline-block;

	width: 65%;
	height: 100%;
}
.img.singlegraphstatic>img{
	width: 100%;
}
.controls.singlegraphstatic{
	position: absolute;
	display: inline-block;
	right: 0;
	top: 0;
	width:35%;
	height: fit-content;
	background-color: aquamarine;
}
.xy{
	width: 100%;
}
.aggregated-results{
	background-color: lightgreen;
}
.centered-title{
	text-align: center;
	border-bottom-width: 2px;
	border-bottom-color: black;
	border-bottom-style: solid;
}
.interactive-curves{
	display: inline-block;
	width: 49vw;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	font-size: 20px;
}
.static-curves{
	display: inline-block;
	width: 49vw;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	font-size: 20px;
}